@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  <div class="grid grid-cols-2 w-1/4 gap-4 mt-8 bg-red-100/50 px-5 mx-auto">
    <button class="btn btn-blue hover:underline">Check It</button>
    <button class="btn btn-gray">Wreck It</button>
  </div>
</div> 
